<header class="header">

    <div class="left">

        <h2>Dashboard</h2>

        <div class="search">

            <mat-icon>search</mat-icon>

            <input
                type="text"
                placeholder="Pesquisar..."
            >

        </div>

    </div>

    <div class="right">

        <button mat-icon-button>

            <mat-icon>notifications</mat-icon>

        </button>

        <div class="user">

            <div class="avatar">

                s

            </div>

            <div>

                <strong>Stephane Lozano</strong>

                <small>Administrador</small>

            </div>

        </div>

    </div>

</header>