<div class="logo">

    <h2>DKS ERP</h2>

    <span>Sistema Comercial</span>

</div>

<nav>

    <a routerLink="/dashboard" routerLinkActive="ativo">

        <mat-icon>dashboard</mat-icon>

        Dashboard

    </a>

    <a>

        <mat-icon>inventory_2</mat-icon>

        Produtos

    </a>

    <a>

        <mat-icon>category</mat-icon>

        Categorias

    </a>

    <a>

        <mat-icon>warehouse</mat-icon>

        Estoque

    </a>

    <a>

        <mat-icon>groups</mat-icon>

        Clientes

    </a>

    <a>

        <mat-icon>local_shipping</mat-icon>

        Fornecedores

    </a>

    <a>

        <mat-icon>shopping_cart</mat-icon>

        Vendas

    </a>

    <a>

        <mat-icon>payments</mat-icon>

        Financeiro

    </a>

    <a>

        <mat-icon>bar_chart</mat-icon>

        Relatórios

    </a>

    <a>

        <mat-icon>settings</mat-icon>

        Configurações

    </a>

</nav>